
@{
    ViewBag.Title = "Discount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Your points : @ViewBag.Points of 1000</h2>

@if (ViewBag.Discount)
{
    <h1> You have 20% discount !</h1>

    <img src="/Content/images/discount.jpg" width="400"
         height="400" alt="My discount"/>

}
else
{
    <h1> You have no discount </h1>
    <img src="/Content/images/discount.jpg" width="400"
         height="400" alt="My discount"/>
}